<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Report Sighting</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<!-- Main Body of Page -->
<div class="container">
    <div class="row m-4">
        <div class="col text-center border border-dark">
            <h1>Heroes & Villains Sighting</h1>
        </div>
    </div>
    <div class="row m-4 border border-dark">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <!--                <a class="navbar-brand" href="#">Navbar scroll</a>-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="sightings">Report Sighting</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="superPerson">Super-Person</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="locations">Locations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="organizations">Organizations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about">About</a>
                        </li>

                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="row m-4 border border-dark">
        <div class="col text-center m-3">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Super-Hero</th>
                    <th>Date</th>
                    <th>Location</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sighting : ${sightings}">
                    <td th:text="${sighting.id}"></td>
                    <td th:text="${sighting.superPersonName}"></td>
                    <td th:text="${sighting.isHero}"></td>
                    <td th:text="${sighting.sightDate}"></td>
                    <td th:text="${sighting.location}"></td>

                    <a href="#" th:href="@{/editOrganization(id=${sighting.id})}">Edit</a>
                    <a href="#" th:href="@{/deleteOrganization(id=${sighting.id})}">Delete</a>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row m-4 border border-dark">
            <div class="col-3 text-center m-3">
                <span class="h3">Report Sighting</span>
            </div>
            <div class="col-7 text-center m-3">
                <form action="addSighting" method="POST">
                    <div class="form-group row">
                        <label for="superPersonName" class="col-3 col-form-label">
                            Super Person Name</label>
                        <div class="col-9">
                            <input type="text" name="superPersonName"
                                   id="superPersonName" class="form-control"/>
                        </div>
                    </div>
<!--                    check box-->

                        <label class="col-4 col-form-label">
                            Category</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="isHero" id="hero" value="true">
                            <label class="form-check-label" >Hero</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="isHero" id="villain" value="false">
                            <label class="form-check-label">Villain</label>
                        </div>

                    <div class="form-group row">
                        <label for="sightDate" class="col-3 col-form-label">
                            Date</label>
                        <div class="col-9">
                            <input type="text" name="sightDate"
                                   id="sightDate" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="location" class="col-3 col-form-label">
                            Location</label>
                        <div class="col-9">
                            <input type="text" name="location"
                                   id="location" class="form-control"/>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Sighting</button>
                </form>
            </div>
    </div>
</div>

<!-- End main body -->





<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>